<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuste.dao.LogDao">
    <insert id="addOne" parameterType="com.xuste.pojo.Log">
        insert into log(form_id, user_number_from, user_number_to, chat)
        values (#{formId}, #{userNumberFrom}, #{userNumberTo}, #{chat})
    </insert>

<!--    <delete id="deleteOne" parameterType="com.xuste.pojo.Log">-->
<!--        delete from log-->
<!--        where gmt_create = #{createTime} and form_id = #{formId}-->
<!--    </delete>-->
    <delete id="deleteOne" parameterType="com.xuste.pojo.Log">
        delete from log
        where id = #{id}
    </delete>



    <select id="selectManyByFormId" resultMap="LogMapping">
        select id, form_id, user_number_from,
               user_number_to, chat, gmt_create
        from log where form_id = #{formId}
    </select>

<!--    <select id="selectOne">-->
<!--        select id, form_id, user_number_from,-->
<!--               user_number_to, chat, gmt_create-->
<!--        from log-->
<!--        where user_number_from = #{userNumberFrom}-->
<!--        and form_id = #{formId}-->
<!--        and chat = #{chat}-->
<!--        and gmt_create = #{}-->
<!--    </select>-->

    <resultMap id="LogMapping" type="com.xuste.pojo.Log">
        <id property="id" column="id"/>
        <result property="formId" column="form_id"/>
        <result property="userNumberFrom" column="user_number_from"/>
        <result property="userNumberTo" column="user_number_to"/>
        <result property="chat" column="chat"/>
        <result property="createTime" column="gmt_create"/>
    </resultMap>
</mapper>