<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuste.dao.UserDao">
    <select id="selectCount" resultType="java.lang.Integer">
        select count(*) from user where user_number = #{userNumber};
    </select>

    <select id="selectOneByUserNumber" resultMap="UserMapping">
        select id, user_name, user_number, user_password, user_authority,
               user_is_teacher, user_college, user_class, grade, user_phone
        from user where user_number = #{userNumber}
    </select>

    <insert id="addOne">
        insert into user(user_name, user_number, user_password, user_authority)
        values (#{name}, #{userNumber}, #{password}, 0);
    </insert>

    <resultMap id="UserMapping" type="com.xuste.pojo.User">
        <id property="id" column="id"/>
        <result property="name" column="user_name"/>
        <result property="userNumber" column="user_number"/>
        <result property="password" column="user_password"/>
        <result property="authority" column="user_authority"/>
        <result property="isTeacher" column="user_is_teacher"/>
        <result property="college" column="user_college"/>
        <result property="userClass" column="user_class"/>
        <result property="userPhone" column="user_phone"/>
        <result property="grade" column="grade"/>
    </resultMap>
</mapper>