<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuste.dao.UserDao">
    <select id="selectCount" resultType="java.lang.Integer">
        select count(*) from user where user_number = #{user.stuNumber};
    </select>

    <select id="selectOne" resultType="java.lang.Integer">
        select count(*) from user where user_number = #{}
    </select>

    <insert id="addOne">
        insert into user(user_name, user_number, user_password, user_authority)
        values (#{user.name}, #{user.stuNumber}, #{user.password}, 0);
    </insert>
</mapper>